@import "variables";

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  /* font-size: 19.12px; */
  font-size: 16px;
  position: relative;
  line-height: 22px;
  font-family: 'Architype', 'helvetica', sans-serif;
  min-height: 100vh;
  background: $black;
  overflow-x: hidden;
  @media (max-width: $phablet) {
    margin-top: 0px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

.sidebar-article-list,
.bookmarking,
.recommended-products,
.recommended-topics {
  display: none;
}
.sidebar-article-list.inthenews {
  display: block;
}


/* -------------------------------------------------------------------------------- */


@import "fonts";
@import "tools";
@import "tools-views";
.cms-icon > div {
    display: inline-block;
}
