// VARIABLES

// Breakpoint Widths

$tablet: 70.625em; /* 1130px */
$phablet: 57em; /*  */
$phone: 41.25em; /*  */


// Colors

$aia-red: #fa4132;
$aia-gray: #808080;
$aia-light-gray: #cbcbcb;
$aia-bg-gray: #efefef;
$black: #000;
$white: #fff;
$text-gray: $aia-gray;

$hr-color: #cbcbcb;

// Other

$baseline: 22px;