@import "variables";

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  /* font-size: 19.12px; */
  font-size: 16px;
  position: relative;
  line-height: 22px;
  font-family: 'Architype', 'helvetica', sans-serif;
  min-height: 100vh;
  background: $black;
  top: 69px;
  overflow-x: hidden;
  @media (max-width: $phablet) {
    margin-top: 0px;
    top: 16px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

/* -------------------------------------------------------------------------------- */
// DEVELOPMENT ONLY -- delete before site launch

.page-wrapper a[href=''] {
    text-decoration: line-through;
    /* display: none; */
    &.course, &.tab, &.tag,
    p.date {
      text-decoration: none;
    }
}

// HIDING CONTENT -- temporary until features built

.sidebar-article-list,
.bookmarking,
.recommended-products,
.recommended-topics {
  display: none;
}
.sidebar-article-list.inthenews {
  display: block;
}


/* -------------------------------------------------------------------------------- */


@import "fonts";
@import "grid-layout";

.page-wrapper, .cards-preview-container {
  @import "atoms";
  @import "molecules";
  @import "organisms";
  @import "pages";
  @import "forms";
  @import "helper-classes";
}

@import "header-footer";
@import "navigation";

@import "cards";

@import "tools";
@import "tools-views";
@import "login-control";
@import "image-card";
@import "filter";
@import "ce-progress";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
/* -------------------------------------------------------------------------------- */
// SIDEBARS

.sidebar {
  section {
    margin: 1em 0;
  }
  .aia-card {
    float: none;
    margin: 0 0 1em;
  }
  .large-button {
    width: 100%;
  }
  .with-arrow {
    width: 100%;
  }
  .white-box {
    margin-bottom: 1em;
    p:not(.headline) {
      margin: .5em 0;
    }
    .textual-button:last-of-type {
      margin-bottom: 0;
    }
  }
}

.sidebar-article-list {
  @extend .white-box;
  img {
    margin-bottom: 0;
  }
  article {
    border-bottom: 1px solid $aia-light-gray;
    margin-bottom: 1em;
    padding-bottom: 1em;
    &:last-of-type {
      border: none;
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 1em;
    }
    img {
      margin-bottom: 1em;
    }
  }
}

.container .loading {
  min-height: 400px;
}


/* -------------------------------------------------------------------------------- */
// STYLE GUIDE

/*
.sg-icon {
  width: 2em;
  height: auto;
  display: inline;
  margin-right: 2em;
}
*/

#style-guide-grid {
  .grid-1-1,.grid-1-2,.grid-1-3,.grid-2-3,.grid-1-4,.grid-3-4,.grid-1-6,.grid-5-6,.grid-1-12,.grid-5-12,.grid-7-12,.grid-11-12 {
    padding:1em 0;
    text-align:center;
    background-color:black;
    color:white;
  }
  .row {
    margin-bottom:1em;
  }
}

.site-map {
  p.nav-column-title {
    margin-bottom: .5rem;
    padding-left: 1.5rem;
    font-weight: bold;
  }
  .nav-column {
    padding-left: 1.5em;
    margin-top: 0;
    margin-bottom: 2em;
    li {
      margin-bottom: .5em;
      a {
        color: $black;
        &:hover {
          text-decoration: none;
          color: $aia-red;
        }
      }
    }
    &.multi {
      column-count: 2;
    }
  }
  a[href=''] {
      opacity: .2;
      text-decoration: none;
  }
}

/* -------------------------------------------------------------------------------- */
// ADMIN PANEL

#aia-admin-panel {
  position: fixed;
  top: 0; bottom: 0; right: 0;
  width: 0;
  transition-property: width;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  font-family: 'RubotoCondensed';
}

#aia-admin-panel header {
  padding-left: 3rem;
  height: 3rem;
}

#aia-admin-panel.aia-admin-panel-open {
  width: 15rem;
}

#aia-admin-panel h3 {
  text-transform: uppercase;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

#aia-admin-panel section {
  padding: 1.3rem 1.8rem;
  margin-bottom: 1rem;
  background-color: rgba(48,48,48,0.7);
}

#aia-admin-panel label {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
}

#aia-admin-panel input, #aia-admin-panel select {
  width: 100%;
}

#aia-admin-panel {
}

#aia-admin-panel .buttons-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}

#aia-admin-panel button {
  color: #333;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  margin: 0 0.2rem;
  padding: 0.5rem;
  flex: 1;
  text-transform: uppercase;
}

#aia-admin-panel {
  h4 {
    color: #DCDCDC;
  }
  .aia-query-user-properties {
    margin-top: 1rem;
    p {
      margin: 0.5rem;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}

#aia-admin-panel .aia-debug-toggle {
  padding: 0.5rem 1.8rem;
  text-align: center;
  font-size: 0.8rem;
  a {
    cursor: pointer;
  }
}

.aia-admin-panel-clip {
  overflow: hidden;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.aia-admin-open-button, .aia-admin-close-button {
  position: absolute;
  top: 0;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
}

.aia-admin-close-button {
  left: 0;
}

.aia-admin-open-button {
  left: -3rem;
}

.aia-admin-panel-content {
  background-color: rgba(48,48,48,0.70);
  color: #FFF;
  position: absolute;
  width: 15rem;
  top: 0;
  left: 0;
  bottom: 0;
}

.aia-admin-panel-header {
  color: #FFF;
  height: 3rem;
  line-height: 3.1rem;
  padding-left: 3rem;
  background-color: #3C3C3C;
  font-size: 1.3rem;
}

.aia-admin-debug-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 700px;
  background-color: rgba(48,48,48,0.80);
  overflow: scroll;
  padding: 2rem;
}

.aia-card .aia-card-stats {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  margin: 0;
  padding: 7px 5px;
  background-color: rgba(48,48,48,0.80);

  color: white;
  font-size: 12px;
  text-align: right;
  opacity: 0;

  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.aia-debug .aia-card .aia-card-stats {
  opacity: 1;
}

.aia-card .aia-card-stats li {
  margin: 3px 0;
}

.aia-card-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-right: -1.25rem;
  opacity: 1;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.aia-card-container.transparent {
  opacity: 0;
}

input[type=range] {
  appearance: none;
  width: 100%;
  margin: 7.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #737373;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #ffa700;
  cursor: pointer;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #878787;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #737373;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #ffa700;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------- */
// DELETABLE

/* DELETE
main {
  margin: 3em auto;
  width: 73.75em;
  position: relative;
  @media (max-width: $tablet) {
    width: 53em;
  }
  @media (max-width: $phablet) {
    width: 37.5em;
  }
  @media (max-width: $phone) {
    width: 100%;
    max-width: 17.5em;
  }
}
.aia-card-section {
  min-height: 1700px;
}
 end DELETE */

 /*

.course-boxes {
  list-style-type: none;
  margin: 2em 0em;
  padding: 0;
  a {
    color: lighten(#000,60%);
  }
  li {
    float: left;
    margin-right: .5em;
    margin-bottom: 1em;
    border: 1px solid lighten(#000,60%);
    padding: .25em .5em .125em;
    font-size: .8em;
  }
}

.aia-basic-card,
.aia-member-card {
  p {
    font-size: .85em;
    line-height: 1.1em;
    margin: 1em 0;
  }
}

.aia-image-card {
  h2 {
    font-size: 1.2em;
    margin: 0 0 .5em;
    line-height: 1.45em;
  }
  p {
    margin: 1rem 0;
    font-size: .85em;
    margin-top: .5em;
    line-height: 1em;
  }
}

.aia-card-label {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 800;
  letter-spacing: .05em;
  margin-bottom: .5em;
}

.aia-call-to-action-card {


}

.aia-pr-card {
  h2 {
    font-size: 1.2em;
    margin: 0 0 .5em;
    line-height: 1.45em;
  }
  p {
    margin: 1rem 0;
    font-size: .85em;
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1em;
  }
  .pr-date {
    font-size: .6em;
    color: lighten(#000,60%);
    text-transform: uppercase;
    margin-top: 0;
  }
}

.aia-links-card {
  h2 {
    margin-bottom: .5em;
  }
  ul {
    li {
      border-bottom: 1px solid #ddd;
      margin: 1em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        border: none;
      }
      a {
        display: inline-block;
        color: #000;
        text-decoration: none;
        margin: 0 0 1.25em;
        font-size: .85em;
        margin-top: .5em;
        line-height: 1em;
        &:hover {
          color: #E54132;
        }
      }
    }
  }
}



section {
  header {
    h1 {
      font-size: 3em;
      color: #E54132;
      margin-bottom: 1em;
      display: inline-block;
      @media (max-width: $phone) {
        font-size: 2em;
        margin: 0 .5em;
      }
    }
    .more-link {
      color: #E54132;
      float: right;
      text-decoration: none;
      margin-top: 1.5em;
      display: inline-block;
      &:hover {
        color: #000;
      }
      &:after {
        content: ">";
        margin-left: 1em;
      }
    }
  }
}

*/

/* The Janrain stuff sucks so hard because janrain adds inline styles to their auto generated forms
 * so there's bascially an `important` arms race going on below
 */

.style-guide-item #janrainModal {
  position: relative !important;
}

#janrainModal {
  position: fixed !important;

  .janrain_modal_closebutton {
    top: -10px;
    right: 0;
    color: transparent;
    &:after {
      color: white;
      font-size: 30px;
      height: 30px;
      width: 30px;
      display: block;
      content:'×'
    }
  }
  #forgotPassword, #traditionalRegistration {
    padding: 2em !important;
    width: inherit;
  }
  .janrain-capture-ui.capture-ui-content.capture_screen_container, .account-modal {
    border-radius: inherit;
    min-height: inherit;
    padding: 0 !important;
    color: black;
    width: 20em;
    line-height: inherit;
    font-family: Architype,helvetica,sans-serif;

    .modal-header {
      background-color: $aia-red;
      padding: 1em;
      .aia-logo {
        width: 7em;
        margin: 0;
        display: block;
      }
    }
    .providers {
      float: none !important;
      li {
        width: 100% !important;
        height: inherit !important;
        border: none !important;
        a {
          color: white;
          padding-left: 1em !important;
          padding-right: 1em !important;
          font-family: Architype,helvetica,sans-serifi !important;
          padding-top: .75em;
          padding-bottom: .5em;
          &:before {
            content: 'Sign in with';
            display: inline-block;
            padding-top: .5em;
          }
          &:after {
            content: ' ';
            display: block;
            clear: both;
          }
        }
        .janrain-provider-text-color-facebook,
        .janrain-provider-text-color-linkedin {
          display: none !important;
        }
        .janrain-provider-icon-24 {
          float: right;
          margin: 0 !important;
        }
      }
      #janrain-facebook {
        background-color: #3b5b99 !important;
      }
      #janrain-linkedin {
        background-color: #006699 !important;
      }
    }
    .login_widget {
      min-height: inherit;
    }
    #janrainEngageEmbed .janrainContent {
      width: inherit !important;
      height: inherit !important;
      padding: 0 !important;
      border: none !important;
      overflow: inherit !important;
      background-color: transparent !important;
    }
    #janrainProviderPages {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      padding: 0 !important;
    }
    .modal-content {
      padding: 1em;
      background-color: $white;
      .centered-text {
        font-weight: bold;
        margin: 1em auto;
        display: block;
        text-align: center;
      }
      label.checkbox {
        font-size: .8em;
        float: left;
        &:before {
          margin-top: -3px;
        }
      }
    }
    .modal-footer {
      background-color: $aia-light-gray;
      padding: 1em;
    }
    a {
      color: $aia-red;
      &.testing {
        font-size: .75em;
        text-decoration: none;
      }
      p {
        color: white;
        margin: 0;
      }
    }
    p {
      margin: 1em;
      &.janrain-testing {
        text-align: center;
      }
    }
    form {
      margin: 1em 0;
      input {
        width: 100%;
        margin-bottom: 1em;
      }
      .capture_form_item {
        margin: 0;
      }
      label {
        display: none;
      }
      input[type="text"], input[type="password"], input[type="email"] {
        border: 1px solid $aia-light-gray;
        font-family: Architype,helvetica,sans-serif;
        border-radius: 0;
        padding: .75em 1.25em;
        background-color: white;
        font-size: 1em;
        line-height: 1.5em;
        box-shadow: none;
        &:focus {
          outline: 1px solid $aia-red;
          outline-offset: -1px;
        }
      }
      input[type="checkbox"] {
        margin: 1.5em 0;
      }
      input[type="submit"] {
        text-align: left;
        margin: 1em 0;
        display: inline-block;
        padding: 1em 1em .75em;
        font-size: 1em;
        line-height: 1.5em;
        background-color: $aia-red;
        margin-bottom: 0;
        color: $white;
        min-width: 9em;
        cursor: pointer;
        border-style: none;
        transition: all .1s ease-in-out;
        &:hover {
          color: $white;
          background-color: $black;
          text-decoration: none;
        }
        @media (max-width: $tablet) and (min-width: $phablet) {
          font-size: .9em;
        }
        @media (max-width: $phablet) {
          &.align-right {
            float: none;
          }
        }
        @media (max-width: $phone) {
          width: 100%;
        }
      }
    }
    .with-arrow {
      display: inline-block;
      &:after {
        content: url(/icons/aia-carrot-white.svg);
        float: right;
        margin-left: 1em;
        height: 1em;
        width: .4em;
        @media (max-width: $phablet) {
          margin-right: .5em;
        }
      }
      &:hover {
        text-decoration: underline;
      }
      &.large-button:hover {
        text-decoration: none;
      }
    }
  }
}
